<% include partials/header %>

<div class="container" style="margin-top: 2.5em">
    <div class="row">
        <div class="col-lg-6" style="height:400px;overflow:auto;">
            <h3> Current budgets: </h3>

            <% budgets.forEach(function(budget) { %>
            <li class="list-group-item"> <%= budget.name %> - <%= budget.quantity%> </li>

            <% }); %>

            </table>
        </div>
        <div class="col-lg-6" style="height:400px;overflow:auto;">
            <h3> Current outgoings: </h3>

            <% periodics.forEach(function(item) { %>
            <li class="list-group-item"> <%= item.name %> - <%= item.quantity%> -- paid on:  <%= item.day %> </li>

            <% }); %>

            </table>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 2.5em">
    <div class="row">
        <div class="col-lg-6">
            <h3> Add a budget item! </h3>
            <form action="/finance/addBudget" method="POST">
                <input type ="text" placeholder="budget name.." name="budgetName">
                <input type ="number" placeholder="quantity" name="budgetQuantity" step="0.01">
                <input type="submit">
            </form>
        </div>
        <div class="col-lg-6">
            <h3> Add a monthly outgoing! </h3>
            <form action="/finance/addOutgoing" method="POST">
                <input type ="text" placeholder="category..." name="category">
                <input type ="text" placeholder="name.." name="outgoingName">
                <input type ="number" placeholder="quantity" name="quantity" step="0.01">
                <input type ="number" placeholder="day of month" name="day">
                <input type="submit">
            </form>
        </div>
    </div>
</div>
<% include partials/footer %>

